####################################
# Deploy 目录 (安装包脚本 / 输出)
####################################

# --- 通用本地目录 ---
**/.dotnet/
**/.vs/
**/.vscode/

# --- 发布程序 ---
/Artifacts/

# --- 驱动程序 ---
/Drivers/**.exe

# --- 安装包输出 ---
/Output/
